.App {
  text-align: center;
}

.app__logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    animation: app__logo-spin infinite 20s linear;
  }
}

.app__header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__link {
  color: #61dafb;
}

.app__table {
  border: 1px solid black;
  border-spacing: 0px;
}

.app__row {
  border: 1px solid black;
}

.app__cell {
  border: 1px solid black;
  padding: 5px;
}

.app__head-row {
  border: 1px solid black;
}

.app__head-cell {
  border: 1px solid black;
  padding: 5px;
}

@keyframes app__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
